# Ignore the CIFAR-10 data files
data/

__pycache__
./assessment_utils/__pycache__/

# The default save file, changes frequently
model.pth
*model.pth

# My analytics file/program
history.txt
plot_history.py